<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CoinTrends - Błażej Wohs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/tempusdominus-bootstrap-4.css" />
        <link rel="stylesheet" href="css/main.css" />

        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/popper.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/moment-with-locales.min.js"></script>
        <script type="text/javascript" src="js/tempusdominus-bootstrap-4.js"></script>
        
        <script type="text/javascript" src="js/Chart.js"></script>
        <script type="text/javascript" src="js/chartjs-plugin-zoom.min.js"></script>
</head>
<body>
    <p th:text="${minDateTime}"></p>
    <p th:text="${maxDateTime}"></p>
    <br/>
    
        <div class="container mt-5 mb-2" style="position: relative">
        <div id="overlay" class="overlay">
            <div class="loader-center">
                <div class="loader-wrapper">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
    <div class="row">
        <div class='col-md-7 m-auto'>
            <div class="form-group">
                <label for="datetimepicker1input">
                    Start date time:
                </label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    <input id="datetimepicker1input" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <div id="datetimepicker1Errors" class="datetime-errors-list">
                    <span>Start date time input errors:</span>
                    <ul></ul>
                </div>
            </div>
        </div>
        </div>
        <div class="row">
            <div class='col-md-7 m-auto'>
            <div class="form-group">
                <label for="datetimepicker2input">
                    End date time:
                </label>
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    <input id="datetimepicker2input" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
                <div id="datetimepicker2Errors" class="datetime-errors-list">
                    <span>End date time input errors:</span>
                    <ul></ul>
                </div>
            </div>
        </div>
        </div>
    <div class="row">
        <div class=' m-auto'>
            <button id="updateButton" type="button" class="btn btn-primary">Update chart</button>
        </div>
    </div>
        <div class="chart-container">
            <button id="resetButton" type="button" class="btn warning mx-2 button-reset" data-toggle="tooltip" data-placement="top" title="You can zoom chart in horizontal axis by clicking and moving left mouse button. Click this button to reset zoom.">Zoom reset</button>
            <canvas id="cryptocurrenciesChart"></canvas>
        </div>
</div>
        
        <script th:inline="javascript">

		      /*<![CDATA[*/
			    
		         var minDateTime = /*[[${minDateTime}]]*/;
		         var maxDateTime = /*[[${maxDateTime}]]*/;
		
		       /*]]>*/
		</script> 
        <script type="text/javascript" src="js/main.js"></script>
       
</body>
</html>